.spacer-element-05x{
    width: 100%;
    height: 50px;
}

.spacer-element-0x{
    width: 100%;
    height: 100px;
}

.spacer-element-1x{
    width: 100%;
    height: 300px;
}

.spacer-element-2x{
    width: 100%;
    height: 600px;
}

.spacer-element-3x{
    width: 100%;
    height: 900px;
}

.spacer-element-4x{
    width: 100%;
    height: 1200px;
}

.spacer-element-5x{
    width: 100%;
    height: 1500px;
}

.spacer-element-6x{
    width: 100%;
    height: 1800px;
}

.spacer-element-7x{
    width: 100%;
    height: 2100px;
}

.spacer-element-8x{
    width: 100%;
    height: 2400px;
}

.spacer-element-9x{
    width: 100%;
    height: 2700px;
}

.spacer-element-10x{
    width: 100%;
    height: 3000px;
}

.spacer-element-11x{
    width: 100%;
    height: 3300px;
}

.spacer-element-11x{
    width: 100%;
    height: 3600px;
}